html,
body {
  margin: 0;
  padding: 0;
}

#landing,
#landing *,
#landing :before,
#landing :after {
  position: relative;
  margin: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
}
#landing {
  width: 1500px;
  font-size: 16px;
  padding-top: 4.0625em;
  background: #fff;
  text-align: center;
}
#landing {
  font-size: 1.061vw;
  width: auto;
}
#landing > * {
  text-align: left;
}

#landing .button {
  display: inline-block;
  padding: 0.75em 1.4em;
  border-radius: 2em;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #99ce45;
  border: 0.125em solid #99ce45;
  color: #fff;
  transition: background 0.4s, color 0.4s, border-color 0.4s;
}
#landing > #header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.9em 1.25em;
  line-height: 2em;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  word-spacing: 2.5em;
}
#header > * {
  display: inline-block;
  word-spacing: normal;
}
#header img {
  display: inline-block;
  position: absolute;
  left: 2em;
  width: 12.66%;
  max-width: 11.8em;
  letter-spacing: -0.5em;
  white-space: nowrap;
  color: transparent;
  overflow: hidden;
}

.nav-link {
  font-size: 0.875em;
  color: #e42a7e;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  border: 0 solid transparent;
}

.nav-link:hover {
  border: 0.166em solid #e42a7e;
  border-radius: 2em;
  padding: 0 1em;
}

#landing .product {
  display: inline-block;
  width: 30%;
  margin-top: 5.125em;
  padding: 0 1.625em;
  text-align: center;
  vertical-align: top;
}
#landing .product > .picture {
  width: 100%;
  max-width: 191px;
  margin-bottom: 2.25em;
}
#landing .product > .caption {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 0.8em;
  min-height: 2.43em;
  color: #3e4e5c;
  text-align: center;
}
#product {
  display: flex;
  flex-wrap: wrap;
}

#landing .product > .summary {
  color: #737d85;
  font-size: 0.86em;
}
#landing .copyright {
  font-size: 0.875em;
  border-top: 2px solid #eee;
  margin: 2em 6.8em 0;
  padding: 2em 0;
  color: #8e9ea9;
  word-spacing: 1.5em;
}

#landing .copyright > * {
  word-spacing: normal;
}
#landing .copyright a {
  color: #01affe;
  text-decoration: none;
}
#landing .copyright a:hover {
  color: #3e4e5c;
}

#video {
  width: 100%;
  margin-top: 50px;
}

#form {
  text-align: center;
  margin: 50px 0;
}
